{% extends "settings/layout.html" %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.spin.presets.flower = {
            lines: 13,
            length: 30,
            width: 10,
            radius: 30,
            className: 'spinner',
        }
        $('#loading').spin('flower');

        $('#users-table').dataTable({
            responsive: true,
            stateSave: true,
            stateDuration: 60 * 60 * 24,
            pagingType: "full_numbers",
            language: {
                info: "_START_ to _END_ of _TOTAL_",
                infoEmpty: "No Results",
                emptyTable: " ",
                infoFiltered: "",
            },
            initComplete: function() {
                $('#loading').stop();
                $('#loading').hide();
                $('#clear').css('display', 'inline-block');
                $('#failed_logins').css('display', 'inline-block');
                $('#datatable').show();
            },
        });
    });
</script>
{% endblock %}
{% block body %}
<div id="data">
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table id="users-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>User Agent</th>
                    <th>Time</th>
                </tr>
            </thead>
            {% for user in failed_logins %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.ip_address }}</td>
                <td>{{ user.user_agent_string }}</td>
                <td>{{ user.login_time.strftime('%m-%d-%Y %H:%m') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.4.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/spin.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.spin.js') }}"></script>
{% endblock %}
