{% extends "settings/layout.html" %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.spin.presets.flower = {
            lines: 13,
            length: 30,
            width: 10,
            radius: 30,
            className: 'spinner',
        }
        $('#loading').spin('flower');

        $('#users-table').dataTable({
            "bAutoWidth": false,
            "bJQueryUI" : true,
            "sPaginationType": "full_numbers",
            "sDom" : '<"H"lr>t<"F"fip>',
            "oLanguage": {
                "sInfoFiltered": "",
                "sInfo": "_START_ to _END_ of _TOTAL_",
                "sInfoEmpty": "No Results",
                "sEmptyTable": " ",
            },
            "aoColumns": [
                null,
                { "sWidth": "15%" },
                { "sWidth": "15%" },
                { "sWidth": "15%" },
                { "sWidth": "10%" },
            ],
            "fnInitComplete": function() {
                $('#loading').stop();
                $('#loading').hide();
                $('#datatable').show();
                this.fnAdjustColumnSizing();
            },
        });
    });
</script>
{% endblock %}
{% block body %}
<div class="container">
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table class='display table-hover' cellpadding="3" border="1" bordercolor="EEEEEE" id="users-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th>Created Date</th>
                {% if users %}
                    <th>Actions</th>
                {% endif %}
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td><a href="{{ url_for('admin.user', user_id=user.id)}}">{{ user.name }}</a></td>
                <td>{{ user.status }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.created_time.strftime('%m-%d-%Y %H:%m') }}</td>
                <td><a href="{{ url_for('admin.remove', user_id=user.id)}}"><img style="text-align: center; float: right; margin-right: 15px;" src="../../static/img/red_x.png"/></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <a class="btn btn-primary" href="{{ url_for('admin.user') }}">New User</a>
</div>
{% endblock %}
