{% from "macros/_form.html" import render_form %}

{% extends 'settings/layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.4.custom.min.css') }}">
<style type="text/css">
#notification-type-wrapper { padding-bottom: 10px; }
#submit-group { padding-top: 15px; }
#cancel-group { padding-top: 15px; }

label[for^="form_field-custom_values-"], 
label[for*=" form_field-custom_values-"],
input[id^="form_field-custom_values-"], 
input[id*=" form_field-custom_values-"] {
    float: left;
}

div[id^="form_field-custom_values-"] > div.controls > div.control-group, 
div[id*=" form_field-custom_values-"] > div.controls > div.control-group {
    display: inline-block;
}
</style>
{% endblock %}

{% block pagejs %}
{% include 'js/notifications/create_by_type.js' %}
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    {{ render_form(url_for('notifications.create_by_type', type=type), form, legend=legend) }}
    <div id="custom_values_help" style="display: none;">
        <h4>Custom Value Text Replacements</h4>
        <h5>Use these as a custom value and it will be replaced on trigger of notification</h5>
        <ul style="list-style-type: none;">
            <li>{{'{{'}}timestamp{{'}}'}} - Current Unix Time</li>
            <li>{{'{{'}}message{{'}}'}} &nbsp;&nbsp;- Current <a href="{{ url_for('notifications.messages') }}">custom messages</a></li>
        </ul>
    </div>
</div>

<div id="notification-type-wrapper" style="display: none;">
    <label for="notification-type">Type</label>
    <span id="notification-type">{{ TYPES[type]|capitalize }}</span>
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.4.custom.js') }}"></script>
{% endblock %}
