{% from "macros/_form.html" import render_form %}

{% extends 'settings/layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.4.custom.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css')}}"/>
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function(){
        $.fn.spin.presets.flower = {
            lines: 13,
            length: 30,
            width: 10,
            radius: 30,
            className: 'spinner',
        }
        $('#loading').spin('flower');
        $('#notifications-table').dataTable({
            responsive: true,
            stateSave: true,
            stateDuration: 60 * 60 * 24,  //1 day
            pagingType: "full_numbers",
            language: {
                infoEmpty: "No Results",
                infoFiltered: "",
                emptyTable: " ",
                info: "_START_ to _END_ of _TOTAL_",
            },
            columns: [
                { "width": "15%" },
                { "width": "15%" },
                null,
                { "width": "15%" },
            ],
            initComplete: function() {
                $('#loading').stop();
                $('#loading').hide();
                $('#clear').css('display', 'inline-block');
            },
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <div id="loading"></div>
    <div id="datatable" style="">
        <table id="notifications-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Owner</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for notification in notifications %}
                {% if notification.user == current_user or current_user.is_admin() %}
                <tr>
                    <td>{{ TYPES[notification.type] }}</td>
                    <td>{{ notification.user.name }}</td>
                    <td>
                        <a href="{{ url_for('notifications.edit', id=notification.id) }}">{{ notification.description }}</a>
                    </td>
                    <td style="text-align: center;">
                        {% if notification.enabled == 1 %}
                            <a href="{{ url_for('notifications.toggle_notification', id=notification.id) }}">
                                <span style="color:green; font-size: large; text-decoration: none;" title="Disable">&#10004;&nbsp;</span>
                            </a>&nbsp;&nbsp;
                        {% else %}
                            <a href="{{ url_for('notifications.toggle_notification', id=notification.id) }}">
                                <span style="color: red; height: 18px; width: 20px;" title="Enable">&#10004;&nbsp;</span>
                            </a>&nbsp;&nbsp;
                        {% endif %}
                        <a href="{{ url_for('notifications.copy_notification', id=notification.id) }}">
                            <img style="height: 18px; width: 20px;" src="{{ url_for('static', filename='img/copy.png') }}" alt="Copy" title="Copy"/>
                        </a>&nbsp;&nbsp;
                        <a href="{{ url_for('notifications.remove', id=notification.id) }}">
                            <img src="{{ url_for('static', filename='img/red_x.png') }}" alt="Remove" title="Remove"/>
                        </a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <a id="clear" class="btn btn-primary" href="{{ url_for('notifications.create') }}">New Notification</a>
    <a id="custom_button" class="btn" href="{{ url_for('notifications.messages') }}">Customize Messages</a>
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.4.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/spin.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.spin.js') }}"></script>
{% endblock %}
