{% from "macros/_form.html" import render_form %}

{% extends 'settings/layout.html' %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#notifications-table').dataTable({
            "bJQueryUI":true,
            "sPaginationType": "full_numbers",
            "sDom" : '<"H"lr>t<"F"fip>',
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <table id="notifications-table" class="display table-hover" border="1" cellpadding="3" bordercolor="EEEEEE">
        <thead>
            <tr><th>Type</th><th>Owner</th><th>Description</th></tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            {% if notification.user == current_user or current_user.is_admin() %}
            <tr>
                <td>{{ TYPES[notification.type] }}</td>
                <td>{{ notification.user.name }}</td>
                <td>
                    <a href="{{ url_for('notifications.edit', id=notification.id) }}">{{ notification.description }}</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('notifications.create') }}">New Notification</a>
</div>
{% endblock %}
