{% from "macros/_form.html" import render_form %}

{% extends 'settings/layout.html' %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function(){
        $.fn.spin.presets.flower = {
            lines: 13,
            length: 30,
            width: 10,
            radius: 30,
            className: 'spinner',
        }
        $('#loading').spin('flower');
        $('#notifications-table').dataTable({
            "bJQueryUI":true,
            "bStateSave": true,
            "iCookieDuration": 60*60*24,
            "sPaginationType": "full_numbers",
            "sDom" : '<"H"lr>t<"F"fip>',
            "oLanguage": {
                "sInfoFiltered": "",
                "sInfo": "_START_ to _END_ of _TOTAL_",
                "sInfoEmpty": "No Results",
                "sEmptyTable": " ",
            },
            "aoColumns": [
                { "sWidth": "15%" },
                null,
                { "sWidth": "10%" },
            ],
            "fnInitComplete": function() {
                $('#loading').stop();
                $('#loading').hide();
                $('#clear').css('display', 'inline-block');
                $('#datatable').show();
                this.fnAdjustColumnSizing();
            },

        });
    });
</script>
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table id="notifications-table" class="display table-hover" border="1" cellpadding="3" bordercolor="EEEEEE">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Message Text</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ EVENT_TYPES[message.id] }}</td>
                    <td>
                        {{ message.text }}
                    </td>
                    <td><a href="{{ url_for('notifications.edit_message', id=message.id) }}">Edit</a>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
