{% from "macros/_form.html" import render_form %}

{% extends 'settings/layout.html' %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function(){
        $.fn.spin.presets.flower = {
            lines: 13,
            length: 30,
            width: 10,
            radius: 30,
            className: 'spinner',
        }
        $('#loading').spin('flower');
        $('#notifications-table').dataTable({
            responsive: true,
            stateSave: true,
            stateDuration: 60*60*24,
            pagingType: "full_numbers",
            language: {
                infoFiltered: "",
                info: "_START_ to _END_ of _TOTAL_",
                infoEmpty: "No Results",
                emptyTable: " ",
            },
            initComplete: function() {
                $('#loading').stop();
                $('#loading').hide();
                $('#clear').css('display', 'inline-block');
                $('#datatable').show();
            },

        });
    });
</script>
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table id="notifications-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Message Text</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ EVENT_TYPES[message.id] }}</td>
                    <td>
                        {{ message.text }}
                    </td>
                    <td><a href="{{ url_for('notifications.edit_message', id=message.id) }}">Edit</a>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
