{% from "macros/_form.html" import render_form %}

{% extends 'settings/layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.4.custom.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.uix.multiselect.css') }}">
<style type="text/css">
    #zones { width: 60%; height: 100%; }
    #buttons { clear: both; padding-top: 15px; }
    .uix-multiselect .ui-widget-header { padding: 0px 0px; }
    .settings_wrapper { display: block; height: 400px; }
    .multiselect-selected-list { width: 50% !important; left: 50% !important; }
    .multiselect-available-list { width: 50% !important; left: 0 !important; }
    .ui-widget-header .header-text { font-size: 80%; padding: 5px 5px; }
    #cancel-group { clear: left; padding-top: 15px; }
    #submit-group { clear: left; padding-top: 15px; }
</style>
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    $('#zones').multiselect();
});
</script>
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <p>Please choose the zones for which you would like to receive notifications.</p>

    {{ render_form(url_for('notifications.zone_filter', id=id), form) }}
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.4.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.uix.multiselect.min.js') }}"></script>
{% endblock %}
