{% set page_title = "Event Log" %}

{% extends "log/layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.4.custom.css') }}">
{% endblock %}

{% block pagejs %}
    <script type="text/javascript">
        function RenderDateLocal(oObj)
        {
            //parse date from python to format Date object understands
            var match = oObj.aData[oObj.iDataColumn].match(/^(\d+)-(\d+)-(\d+) (\d+)\:(\d+)\:(\d+)$/);
            var localDate = new Date(match[1], match[2] - 1, match[3], match[4], match[5], match[6]);

            //take care of timezone offset in minutes to hours by negating and then adding to the hours
            var tzo = (localDate.getTimezoneOffset()/60) *-1;
            localDate.setHours(localDate.getHours() + tzo );

            //reformat date for consistency
            var dateStr = localDate.getFullYear() + "-" + (localDate.getMonth() + 1) + "-" + localDate.getDate() + " " + localDate.toLocaleTimeString();
            return dateStr;
        }
        function showHide(bShow)
        {
            if( bShow )
            {
                $('#loading').show();
                $('#loading').spin('flower');
            }
            else
            {
                $('#loading').stop();
                $('#loading').hide();
            }
        }
        $(document).ready(function() {
            $.fn.dataTableExt.oPagination.iFullNumbersShowPages = 3;
            $.fn.spin.presets.flower = {
                lines: 13,
                length: 30,
                width: 10,
                radius: 30,
                className: 'spinner',
            }
            $('#loading').spin('flower');
            var oTable = $('#events-table').bind('processing', function(e, oSettings, bShow) { showHide(bShow) }).dataTable({
                "bSort": false,
                "bStateSave": true,
                "iCookieDuration": 60*60*24,
                "bJQueryUI": true,
                "bServerSide": true,
                "bProcessing": true,
                "columns":  [
                    {"type": "date" },
                ],
                "sAjaxSource": "/log/retrieve_events_paging_data",
                "sPaginationType": "full_numbers",
                "sDom" : '<"H"lr>t<"F"fip>',
                "aaSorting": [[0, "desc" ]],
                "oLanguage": {
                    "sInfoFiltered": "",
                    "sInfo": "_START_ to _END_ of _TOTAL_",
                    "sInfoEmpty": "No Results",
                    "sInfoThousands": "",
                    "sEmptyTable": " ",
                    "sProcessing": "",
                },
                "aoColumns": [
                    {"sWidth": "20%", "fnRender": RenderDateLocal },
                    {"sWidth": "15%" },
                    null
                ],
                "fnInitComplete": function() {
                    $('#loading').stop();
                    $('#loading').hide();
                    $('#datatable').show();
                    $('#clear').css('display', 'block');
                    this.fnAdjustColumnSizing();
                },
            });
            $('#clearbutton').on('click', function() {
                $.confirm({
                    text: "Are you sure?",
                    title: "Clear Event Log",
                    confirm: function(button) {
                        $.ajax({
                            url: "/log/delete",
                        }).done( function( data ) {
                            oTable.fnClearTable();
                        });
                    },
                    cancel: function(button) {
                    },
                    confirmButton: "Yes",
                    cancelButton: "No",
                    post: false,
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
<div id="data">
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table id="events-table" cellpadding="3" cellspacing="0" border="1" class="display table-hover" bordercolor="EEEEEE">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Type</th>
                    <th>Message</th>
                </tr>
            </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        </table>
    </div>
    <div id="clear">
        <button type="button" class="btn btn-primary" name="clearbutton" id="clearbutton">Clear</button>
        <button type="button" class="btn btn-primary" name="refreshbutton" id="refreshbutton" onclick="location.reload();">Reload</button>
    </div>
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.4.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/spin.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.spin.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.confirm.min.js') }}"></script>
{% endblock %}
