{% set page_title = "Event Log" %}

{% extends "log/layout.html" %}

{% block pagejs %}
    <script type="text/javascript">
        $(document).ready(function() {
            $.fn.dataTableExt.oPagination.iFullNumbersShowPages = 3;
            $.fn.spin.presets.flower = {
                lines: 13,
                length: 30,
                width: 10,
                radius: 30,
                className: 'spinner',
            }
            $('#loading').spin('flower');
            var oTable = $('#events-table').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sDom" : '<"H"lr>t<"F"fip>',
                "oLanguage": {
                    "sInfoFiltered": "",
                    "sInfo": "_START_ to _END_ of _TOTAL_",
                    "sInfoEmpty": "No Results",
                    "sInfoThousands": "",
                    "sEmptyTable": " ",
                },
                "fnInitComplete": function() {
                    $('#loading').stop();
                    $('#loading').hide();
                    $('#datatable').show();
                    $('#clear').css('display', 'block');
                    this.fnAdjustColumnSizing();
                },
            });
            $('#clearbutton').on('click', function() {
                $.confirm({
                    text: "Are you sure?",
                    title: "Clear Event Log",
                    confirm: function(button) {
                        $.ajax({
                            url: "/log/delete",
                        }).done( function( data ) {
                            oTable.fnClearTable();
                        });
                    },
                    cancel: function(button) {
                    },
                    confirmButton: "Yes",
                    cancelButton: "No",
                    post: false,
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
<div id="data">
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table id="events-table" cellpadding="3" cellspacing="0" border="1" class="display table-hover" bordercolor="EEEEEE">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Type</th>
                    <th>Message</th>
                </tr>
            </thead>
            {% for entry in event_log %}
                <tr>
                    <td>{{ entry.timestamp }}</td>
                    <td>{{ TYPES[entry.type] }}</td>
                    <td>{{ entry.message }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="clear" style="display: none; margin-top: 10px;">
        <button type="button" class="btn btn-primary" name="clearbutton" id="clearbutton">Clear</button>
        <button type="button" class="btn btn-primary" name="refreshbutton" id="refreshbutton" onclick="location.reload();">Reload</button>
    </div>
</div>
{% endblock %}
