{% set page_title = "Event Log" %}

{% extends "log/layout.html" %}

{% block pagejs %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#paginateMe').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sDom" : '<"H"lr>t<"F"fip>',
            });
        });
    </script>
{% endblock %}
{% block body %}
<div>
    <h2>Event Log</h2>
    <table id="paginateMe" cellpadding="3" cellspacing="0" border="1" class="display table-hover" bordercolor="EEEEEE">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Message</th>
            </tr>
        </thead>
        {% for entry in event_log %}
            <tr>
                <td>{{ entry.timestamp }}</td>
                <td>{{ TYPES[entry.type] }}</td>
                <td>{{ entry.message }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="live">Live Log</a>
</div>
{% endblock %}
