{% set page_title = "Live Log" %}

{% extends "log/layout.html" %}

{% block pagejs %}
    <script type="text/javascript">
        var giCount = 1;
        $(document).ready(function() {
            $.fn.dataTableExt.oApi.fnStandingRedraw = function(oSettings) {
                if( oSettings.oFeatures.bServerSide === false )
                {
                    //what page were we looking at?
                    var before = oSettings._iDisplayStart;
                    oSettings.oApi._fnReDraw(oSettings);
                    //set the display start to what page we were looking at before
                    oSettings._iDisplayStart = before;
                    oSettings.oApi._fnCalculateEnd(oSettings);
                }
                oSettings.oApi._fnDraw(oSettings);
            };
            PubSub.subscribe('message', function(type, msg) {
                var n = new Date();
                var day = ('0' + (n.getDay())).slice(-2);
                var month = ('0' + (n.getMonth() + 1)).slice(-2);
                var year = n.getFullYear();
                var hour = ('0' + (n.getHours())).slice(-2);
                var min = ('0' + (n.getMinutes())).slice(-2);
                var sec = ('0' + (n.getSeconds())).slice(-2);
                var datetime = day + "/" + month + "/" + year + " " + hour + ":" + min + ":" + sec;

                $('#panel-log').dataTable().fnAddData([ msg.timestamp, msg.raw], false);
                $('#panel-log').dataTable().fnStandingRedraw();
            });
            $.fn.spin.presets.flower = {
                lines: 13,
                length: 30,
                width: 10,
                radius: 30,
                className: 'spinner',
            }
            $('#loading').spin('flower');
            $('#panel-log').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "bFilter": false,
                "aaSorting": [[0, "desc" ]],
                "sDom" : '<"H"lr>t<"F"fip>',
                "oLanguage": {
                    "sInfoFiltered": "",
                    "sInfo": "_START_ to _END_ of _TOTAL_",
                    "sInfoEmpty": "No Results",
                },
                "fnInitComplete": function() {
                    $('#loading').stop();
                    $('#loading').hide();
                    $('#datatable').show();
                    this.fnAdjustColumnSizing();
                },
            });
        });
    </script>
{% endblock %}

{% block body %}
<div>
    <h2>Panel Log</h2>
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table id='panel-log' cellpadding="3" class="display table-hover" border="1" bordercolor="EEEEEE">
            <thead>
                <tr>
                    <th width="20%">Timestamp</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
