{% set page_title = "Live Log" %}

{% extends "log/layout.html" %}

{% block pagejs %}
    <script type="text/javascript">
        //are we paused?
        var bPaused = false;
        //store messages when paused, display later
        var messagesBacklog = [];
        $(document).ready(function() {
            $.fn.dataTableExt.oPagination.iFullNumbersShowPages = 3;
            $.fn.dataTableExt.oApi.fnStandingRedraw = function(oSettings) {
                if( oSettings.oFeatures.bServerSide === false )
                {
                    //what page were we looking at?
                    var before = oSettings._iDisplayStart;
                    oSettings.oApi._fnReDraw(oSettings);
                    //set the display start to what page we were looking at before
                    oSettings._iDisplayStart = before;
                    oSettings.oApi._fnCalculateEnd(oSettings);
                }
                oSettings.oApi._fnDraw(oSettings);
            };
            PubSub.subscribe('message', function(type, msg) {
                var n = new Date();
                var day = ('0' + (n.getDay())).slice(-2);
                var month = ('0' + (n.getMonth() + 1)).slice(-2);
                var year = n.getFullYear();
                var hour = ('0' + (n.getHours())).slice(-2);
                var min = ('0' + (n.getMinutes())).slice(-2);
                var sec = ('0' + (n.getSeconds())).slice(-2);
                var datetime = day + "/" + month + "/" + year + " " + hour + ":" + min + ":" + sec;

                //remove microseconds
                var timestamp = msg.timestamp.slice(0, msg.timestamp.indexOf("."));;

                if( !bPaused )
                {
                    //if we're unpaused and have messages in the backlog, present them
                    if(messagesBacklog.length > 0)
                    {
                        for( i = 0; i < messagesBacklog.length; i++ )
                        {
                            $('#panel-log').dataTable().fnAddData([messagesBacklog[i].tstamp, messagesBacklog[i].message], false);
                            $('#panel-log').dataTable().fnStandingRedraw();
                        }
                        //empty the backlog array as we've added the contents to the table already
                        messagesBacklog = [];
                        messagesBacklog.length = 0;
                    }
                    $('#panel-log').dataTable().fnAddData([ timestamp, msg.raw], false);
                    $('#panel-log').dataTable().fnStandingRedraw();
                }
                else
                {
                    //if we're paused, save messages in an array to add when unpaused.
                    messagesBacklog.push({tstamp:timestamp, message:msg.raw});
                }
            });
            $.fn.spin.presets.flower = {
                lines: 13,
                length: 30,
                width: 10,
                radius: 30,
                className: 'spinner',
            }
            $('#loading').spin('flower');
            var oTable = $('#panel-log').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "bFilter": false,
                "aaSorting": [[0, "desc" ]],
                "sDom" : '<"H"lr>t<"F"fip>',
                "oLanguage": {
                    "sInfoFiltered": "",
                    "sInfo": "_START_ to _END_ of _TOTAL_",
                    "sInfoEmpty": "No Results",
                    "sInfoThousands": "",
                    "sEmptyTable": " ",
                },
                "fnInitComplete": function() {
                    $('#loading').stop();
                    $('#loading').hide();
                    $('#datatable').show();
                    $('#clear').css('display', 'block');
                    this.fnAdjustColumnSizing();
                },
            });
            $('#clearbutton').on('click', function() {
                $.confirm({
                    text: "Are you sure?",
                    title: "Clear Event Log",
                    confirm: function(button) {
                        oTable.fnClearTable();
                    },
                    cancel: function(button) {
                    },
                    confirmButton: "Yes",
                    cancelButton: "No",
                    post: false,
                });
            });
            $('#pausebutton').on('click', function() {
                bPaused = !bPaused;

                if( !bPaused )
                    $('#pausebutton').text("Pause");
                else
                    $('#pausebutton').text("Unpause");
            });
        });
    </script>
{% endblock %}

{% block body %}
<div>
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table id='panel-log' cellpadding="3" class="display table-hover" border="1" bordercolor="EEEEEE">
            <thead>
                <tr>
                    <th width="20%">Timestamp</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="clear" style="display: none; margin-top: 10px;">
        <button type="button" name="clearbutton" id="clearbutton" class="btn btn-primary">Clear</button>
        <button type="button" name="pausebutton" id="pausebutton" class="btn btn-primary">Pause</button>
    </div>
</div>
{% endblock %}
