@font-face {
    font-family: lcd-font;
    src: url('../fonts/advanced_led_board-7.ttf');
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-user-select: none !important;
}
.container #keypad-buttons {
    text-align: center;
}

.cursor_location {
    color: green !important;
    text-decoration: underline !important;
}

#status-indicator
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#keypad-line1
{
    font-family: lcd-font;
    text-align: center;
    font-size: 70px;
    margin-bottom: 19px;
    width: 100% !important;
    padding-top: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.mobile #keypad-line1 {
    font-family: lcd-font;
    text-align: center;
    font-size: 38px !important;
    margin-bottom: 19px;
    width: 100% !important;
    padding-top: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.tablet #keypad-line1 {
    font-family: lcd-font;
    text-align: center;
    font-size: 38px !important;
    margin-bottom: 19px;
    width: 100% !important;
    padding-top: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#keypad-line2
{
    font-family: lcd-font;
    text-align: center;
    font-size: 70px;
    padding-top: 35px;
    margin-bottom: 5px !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mobile #keypad-line2 {
    font-family: lcd-font;
    text-align: center;
    font-size: 38px !important;
    padding-top: 35px;
    margin-bottom: 5px !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tablet #keypad-line2 {
    font-family: lcd-font;
    text-align: center;
    font-size: 38px !important;
    padding-top: 35px;
    margin-bottom: 5px !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#keypad-buttons
{
    margin-top: 30px !important;
    width: 100%;
    margin: 0 auto;
    position: relative;
    right: 40px;
}

.mobile #keypad-buttons
{
    margin-top: 30px !important;
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: -30px;
}
#keypad-button-row
{
    width: 90%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
}

#keypad-button-row1
{
    width: 90%
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    left: 308px;
}
img.keypad-button {
    cursor: pointer;
}

.keypad-button
{
    width: 150px !important;
    height: 80px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

.mobile .keypad-button {
    width: 80px !important;
    height: 80px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

.tablet .keypad-button {
    width: 150px !important;
    height: 80px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

.half_keypad-button
{
    width: 73px !important;
    height: 50px;
    vertical-align: top;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

.mobile .half_keypad-button {
    width: 63px !important;
    height: 60px;
    vertical-align: top;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

.tablet .half_keypad-button {
    width: 73px !important;
    height: 50px;
    vertical-align: top;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

.half_keypad-button_arrow
{
    width: 73px !important;
    height: 50px;
    vertical-align: top;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

.mobile .half_keypad-button_arrow {
    width: 38px !important;
    height: 60px;
    vertical-align: top;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

.tablet .half_keypad-button_arrow {
    width: 73px !important;
    height: 50px;
    vertical-align: top;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

#button-0
{
    margin: 0 auto;
    border: none;
}
.tablet #button-0 {
    margin: 0 auto;
    border: none;
}
.mobile #button-0
{
    margin: 0 auto;
    border: none;
}
#button-1
{
    margin: 0 auto;
    border: none;
}

.tablet #button-1 {
    margin: 0 auto;
    border: none;
}

.mobile #button-1 {
    margin: 0 auto;
    border: none;
}

#button-2
{
    margin: 0 auto;
    border: none;
}

.tablet #button-2 {
    margin: 0 auto;
    border: none;
}

.mobile #button-2 {
    margin: 0 auto;
    border: none;
}
#button-3
{
    margin: 0 auto;
    border: none;
}

.tablet #button-3 {
    margin: 0 auto;
    border: none;
}
.mobile #button-3 {
    margin: 0 auto;
    border: none;
}

#button-4
{
    margin: 0 auto;
    border: none;
}

.tablet #button-4 {
    margin: 0 auto;
    border: none;
}
.mobile #button-4 {
    margin: 0 auto;
    border: none;
}
#button-5
{
    margin: 0 auto;
    border: none;
}

.tablet #button-5 {
    margin: 0 auto;
    border: none;
}
.mobile #button-5 {
    margin: 0 auto;
    border: none;
}
#button-6
{
    margin: 0 auto;
    border: none;
}

.tablet #button-6 {
    margin: 0 auto;
    border: none;
}

.mobile #button-6 {
    margin: 0 auto;
    border: none;
}

#button-7
{
    margin: 0 auto;
    border: none;
}
.tablet #button-7 {
    margin: 0 auto;
    border: none;
}

.mobile #button-7 {
    margin: 0 auto;
    border: none;
}

#button-8
{
    margin: 0 auto;
    border: none;
}

.tablet #button-8 {
    margin: 0 auto;
    border: none;
}
.mobile #button-8 {
    margin: 0 auto;
    border: none;
}

#button-9
{
    margin: 0 auto;
    border: none;
}
.tablet #button-9 {
    margin: 0 auto;
    border: none;
}

.mobile #button-9 {
    margin: 0 auto;
    border: none;
}
#button-F1
{
    margin:0 auto;
    border: none;
    background:url('../img/f1-fire.png') no-repeat 65% center;
}
.tablet #button-F1 {
    margin: 0 auto;
    border: none;
    background:url('../img/f1-fire.png') no-repeat 65% center !important;
}

.mobile #button-F1
{
    margin: 0 auto;
    border: none;
    background:url('../img/f1-fire-small.png') no-repeat 65% center;
}
#button-F2
{
    margin: 0 auto;
    border:none;
    background:url('../img/f2-police.png') no-repeat 65% center;
}

.tablet #button-F2 {
    margin: 0 auto;
    border: none;
    background:url('../img/f2-police.png') no-repeat 65% center !important;
}

.mobile #button-F2
{
    margin: 0 auto;
    border: none;
    background:url('../img/f2-police-small.png') no-repeat 65% center;
}
#button-F3
{
    margin: 0 auto;
    border: none;
    background:url('../img/f3-medical.png') no-repeat 65% center;
}

.tablet #button-F3 {
    margin: 0 auto;
    border: none;
    background:url('../img/f3-medical.png') no-repeat 65% center !important;
}
.mobile #button-F3
{
    margin: 0 auto;
    border: none;
    background:url('../img/f3-medical-small.png') no-repeat 65% center;
}
#button-F4
{
    margin: 0 auto;
    border: none;
    background:url('../img/f4-led-text.png') no-repeat 65% center;
}

.tablet #button-F4 {
    margin: 0 auto;
    border: none;
    background:url('../img/f4-led-text.png') no-repeat 65% center !important;
}
.mobile #button-F4
{
    margin: 0 auto;
    border: none;
    background:url('../img/f4-led-text-small.png') no-repeat 65% center;
}
#button-star
{
    margin: 0 auto;
    border: none;
}

.tablet #button-star {
    margin: 0 auto;
    border: none;
}
.mobile #button-star {
    margin: 0 auto;
    border: none;
}
#button-pound
{
    margin: 0 auto;
    border: none;
}

.tablet #button-pound {
    margin: 0 auto;
    border: none;
}
.mobile #button-pound {
    margin: 0 auto;
    border: none;
}

.blink {
    color: red !important;
}

#mute-row {
    position: relative;
    left: -135px;
    margin-top: 10px;
}

.mobile #mute-row {
    position: relative;
    left: -60px;
    margin-top: 10px;
}

#custom-button-row {
    position: relative;
    left: -135px;
    margin-top: 10px;
}

.mobile #custom-button-row {
    position: relative;
    left: -60px;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.tablet #custom-button-row {
    position: relative;
    left: -125px !important;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

#check-mute {
    margin-top: -2px;
}

#check-mute-label {
    display: inline-block;
    padding-top: 2px;
    padding-left: 2px;
    color: black;
    font-weight: normal;
}

#custom_buttons {
    -webkit-appearance: none;
    display: inline-block !important;
    height: 25px !important;
    background-image: -ms-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: -moz-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: -o-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(-.5, #707070), color-stop(1.1, #FCFCFC));
    background-image: -webkit-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: linear-gradient(to bottom right, #707070 -50%, #FCFCFC 110.00000000000001%);
}

.tablet #custom_buttons {
    -webkit-appearance: none;
    display: inline-block !important;
    height: 50px !important;
    background-image: -ms-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: -moz-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: -o-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(-.5, #707070), color-stop(1.1, #FCFCFC));
    background-image: -webkit-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: linear-gradient(to bottom right, #707070 -50%, #FCFCFC 110.00000000000001%);
}

.mobile #custom_buttons {
    -webkit-appearance: none;
    display: inline-block !important;
    height: 35px !important;
    background-image: -ms-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: -moz-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: -o-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(-.5, #707070), color-stop(1.1, #FCFCFC));
    background-image: -webkit-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);
    background-image: linear-gradient(to bottom right, #707070 -50%, #FCFCFC 110.00000000000001%);
}   

.custom_button
{
    width: 150px !important;
    height: 80px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

