.form-actions {
    padding: 0;
    background-color: #fff;
    border-top: none;
}

.help-inline {
    font-size: 90%;
}

.progress-in-table {
    margin-bottom: 0;
}

.navbar .container {
    width: 940px;
}

/* Sign up */
.btn-signup {
    color: white;
    text-decoration: none;
}

/* 
 * Sticky footer 
 * http://twitter.github.io/bootstrap/examples/sticky-footer.html
 * */

html,
body { 
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
    z-index: 10;
}
#footer {
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer-links {
    text-align: center;
    font-size: 12px;
    line-height: 59px;
    text-shadow: 0 1px 0 white;
    background-color: whiteSmoke;
    border-top: 1px solid #E5E5E5;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}

/* End of sticky footer */

/* bootstrap + tablesorter */

table .header {
    cursor: pointer;
}

table .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000000 transparent;
    visibility: hidden;
}

table .headerSortUp, table .headerSortDown {
    background-color: #f7f7f9;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

table .header:hover:after {
    visibility: visible;
}

table .headerSortDown:after, table .headerSortDown:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

table .headerSortUp:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.table-borderless td,
.table-borderless th{ 
    border: 0 !important
}

//dataTables
table.display {
    margin: 0px auto;
    clear: both;
    border-collapse: collapse;
}

table {
    width: 100% !important;
}
.ui-widget-header {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3 );
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3 );
}

.paging_full_numbers .ui-button {
padding: 2px 6px;
margin: 0;
cursor: pointer;
* cursor: hand;
}

.dataTables_length {
    padding-top: 5px;
    padding-left: 5px;
}

.dataTables_filter {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

.dataTables_info {
    padding-left: 5px;
}
//forms
input:focus {
    border: solid 1px #337FD6;
}

form {
    background: -webkit-linear-gradient(left, #CCCCCC, #EEEEEE) !important;
    background: -moz-linear-gradient(left, #CCCCCC, #EEEEEE);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3 );
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3 );
}

.form-actions {
    background: -webkit-linear-gradient(left, #CCCCCC, #EEEEEE) !important;
    background: -moz-linear-gradient(left, #CCCCCC, #EEEEEE);
}

label {
    font-weight: bold !important;
}

#faq_accordion>div {
    background: -webkit-linear-gradient(left, #CCCCCC, #EEEEEE) !important;
    background: -moz-linear-gradient(left, #CCCCCC, #EEEEEE);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3 );
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3 );
}
.ui-accordion-header {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3 );
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3 );
}
.ui-accordion-header.ui-state-active {
    background: -webkit-linear-gradient(left, #CCCCCC, #337FD6);
    background: -moz-linear-gradient(left, #CCCCCC, #337FD6);
}

div#buttons {
    margin-top: 30px;
}

div#buttons, div#buttons > div > span {
    margin-bottom: 0;
}

.form-actions {
    margin-top: 10px;
}

/* setup */
span#buttons-previous-group, span#previous-group {
    float: left;
    margin-bottom: 0;
}

span#buttons-next-group, span#next-group {
    float: right;
    margin-bottom: 0;
}

div#zone_expanders ul, div#relay_expanders ul {
    list-style-type: none;
}

div#zone_expanders input, div#relay_expanders input {
    float: left;
    margin-right: 10px;
}

div#zone_expanders span, div#relay_expanders span {
    display: block;
    overflow: hidden;
}

div#zone_expanders span label, div#relay_expanders span label {
    float: right;
    width: 100%;
}

/* setup.test */
table#test_results td.test-description {
    width: 30%;
}

table#test_results td.test-results {
    width: 5%;
}

table#test_results td.details {
    width: 65%;
}

.ui-widget-header {
    height: 31px !important;
}

.dataTables_filter {
    position: relative;
    top: -3px;
}

.dataTables_filter label {
    position: relative;
    top: -8px;
}

.dataTables_filter label input {
    position: relative;
    top: 8px;
    height: 15px;
}
.dataTables_length {
    position: relative;
    top: -3px;
}

.dataTables_length label {
    position: relative;
    top: -8px;
}

.dataTables_length label select {
    position: relative;
    top: 8px !important;
    height: 25px;
}

.dataTables_info {
    padding-top: 5px;
    position: relative;
    top: -4px;
}

.dataTables_paginate {
    position: relative;
    top: -23px;
    left: 280px;
}

.css_right {
    float: right;
}

#cert_info {
    background: -webkit-linear-gradient(left, #CCCCCC, #EEEEEE) !important;
    background: -moz-linear-gradient(left, #CCCCCC, #EEEEEE);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3 );
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3 );
}

#cert_download {
    position: relative;
    text-align: center;
    float: right;
}

#cert_cert_cert {
    position: relative;
    top: -180px;
    left: -80px;
    float: right;
    text-align: center;
}

#cert_cert_key {
    position: relative;
    float: right;
    top: -120px;
    left: -30px;
    text-align: center;
}

#cert_id {
    margin-bottom: 10px;
}

#cert_id label {
    margin-bottom: -2px;
}

#cert_status {
    margin-bottom: 10px;
}

#cert_status label {
    margin-bottom: -2px;
}

#cert_created {
    margin-bottom: 10px;
}

#cert_created label {
    margin-bottom: -2px;
}

#cert_revoked {
    margin-bottom: 10px;
}

#cert_revoked label {
    margin-bottom: -2px;
}

#cert_name {
    margin-bottom: 10px;
}

#cert_name label {
    margin-bottom: -2px;
}

#cert_desc {
    margin-bottom: 10px;
}

#cert_desc label {
    margin-bottom: -2px;
}
