{% from "macros/_form.html" import render_form %}

{% set page_title = 'Keypad' %}

{% extends "layouts/base.html" %}

{% block pagejs %}
    <script type="text/javascript">
        //detect if mobile
        function isMobile()
        {
            if( $('html').hasClass('mobile') == true && $('html').hasClass('tablet') == false )
                return true;

            return false;
        }
        //detect if tablet
        function isTablet()
        {
            if( $('html').hasClass('tablet') == true )
                return true;

            return false;
        }
        //is local storage supported?
        function storageSupported()
        {
            if( Modernizr.localstorage)
                return true;
            return false;
        }
        //visual beep or veep an element
        function veep(elem, times, speed) 
        {
            if( times > 0 || times < 0 ) 
            {
                if( $(elem).hasClass("blink") ) 
                    $(elem).removeClass("blink");
                else
                    $(elem).addClass("blink");
            }

            clearTimeout(function() {
                veep( elem, times, speed );
            });

            if( times > 0 || times < 0 ) 
            {
                setTimeout(function() {
                    veep( elem, times, speed );
                }, speed);

                times -= .5;
            }
        }

        //setup audio beeping
        var beep1 = new Audio('../static/sounds/1beep.wav');
        var beep2 = new Audio('../static/sounds/2beep.wav');
        var beep3 = new Audio('../static/sounds/3beep.wav');
        var beep4 = new Audio('../static/sounds/4beep.wav');
        var beep5 = new Audio('../static/sounds/5beep.wav');
        var beep6 = new Audio('../static/sounds/6beep.wav');
        var beep7 = new Audio('../static/sounds/7beep.wav');
        var mute = 0;
        var mobile = false;
        var tablet = false;
        $(document).ready(function() {
            //detect mobile and tablet
            mobile = isMobile();
            tablet = isTablet();

            //check to see if we're going to play sounds or not if we've set the checkbox
            if( storageSupported() )
            {
                if( (checkmute = localStorage.getItem("mute")) !== null )
                    mute = parseInt(checkmute);

                if( mute == 1 )
                    $('#check-mute').prop('checked', true);
                else
                    $('#check-mute').prop('checked', false);
            }
            PubSub.subscribe('message', function(type, msg) {
                if( msg.message_type == 'panel')
                {
                    var lines = ['', '']
                    var armed = msg.armed_away | msg.armed_home;
                    var ready = msg.ready;
                    var beeps = 0;

                    if( msg.beeps )
                    {
                        beeps = msg.beeps;
                    }

                    if( beeps > 0 )
                    {
                        veep('#keypad-line1', beeps, 100);
                        veep('#keypad-line2', beeps, 100);
                    }
                    if( mute == 0 )
                    {
                        try
                        {
                            switch(beeps)
                            {
                                case 1:
                                    beep1.load();
                                    beep1.play();
                                    beep1.currentTime=0;
                                    break;
                                case 2:
                                    beep2.load();
                                    beep2.play();
                                    beep2.currentTime=0;
                                    break;
                                case 3:
                                    beep3.load();
                                    beep3.play();
                                    beep3.currentTime=0;
                                    break;
                                case 4:
                                    beep4.load();
                                    beep4.play();
                                    beep4.currentTime=0;
                                    break;
                                case 5:
                                    beep5.load();
                                    beep5.play();
                                    beep5.currentTime=0;
                                    break;
                                case 6:
                                    beep6.load();
                                    beep6.play();
                                    beep6.currentTime=0;
                                    break;
                                case 7:
                                    beep7.load();
                                    beep7.play();
                                    beep7.currentTime=0;
                                    break;
                                default:
                                    break;
                            }
                        }
                        catch(e)
                        {
                            if( window.console && console.log("Error: " + e ) );
                        }
                    }

                    if(msg.text.length >= 16) {
                        lines[0] = msg.text.substring(0, 16);
                        lines[1] = msg.text.substring(16);
                    }
                    else {
                        lines[0] = msg.text;
                    }

                    if( armed )
                    {
                        $('#status-image1').attr("src", "../static/img/led-on-red.png");
                    }
                    else
                    {
                        $('#status-image1').attr("src", "../static/img/led-off.png");
                    }
                    if( ready )
                    {
                        $('#status-image2').attr("src", "../static/img/led-on.png");
                    }
                    else
                    {
                        $('#status-image2').attr("src", "../static/img/led-off.png");
                    }
                    if( lines[0] != '' )
                    {
                        $('#keypad-line1').text(lines[0]);
                        $('#keypad-line1').css("color", "black");

                        //hackery to get page to stop shifting when only 1 line of text present
                        if( lines[1].match(/ /g).length == 16 )
                            lines[1] = '';
                        if( lines[1].length > 0 )
                        {
                            $('#keypad-line2').css("color", "black");
                            $('#keypad-line2').css("visibility", "visible");
                            $('#keypad-line2').text(lines[1]);
                        }
                        else
                        {
                            $('#keypad-line2').css("color", "white");
                            $('#keypad-line2').css("visibility", "hidden");
                            $('#keypad-line2').text('---');
                        }
                    }
                }
            });

//lets make the buttons animate when we use keyboard
            $(document).keyup(function(event) {
                var shiftKey = event.shiftKey;
                var charCode = (typeof event.which == "number") ? event.which : event.keyCode;
                var realCharCode = String.fromCharCode(charCode);
//F1-F4
                if( charCode == 112 )
                    $('#button-F1').trigger('mouseup');
                if( charCode == 113 )
                    $('#button-F2').trigger('mouseup');
                if( charCode == 114 )
                    $('#button-F3').trigger('mouseup');
                if( charCode == 115 )
                    $('#button-F4').trigger('mouseup');

//the rest
                if( charCode == 8 || charCode == 9 || charCode == 46 || charCode == 37 || charCode == 39 || (charCode >= 48 && charCode <= 57) || (charCode >= 96 && charCode <= 105 ))
                {
                    if( shiftKey )
                    {
                        if(charCode == 56)
                        {
                            $('#button-star').trigger('mouseup');
                            decoder.emit('keypress', '*');
                        }
                        if(charCode == 51)
                        {
                            $('#button-pound').trigger('mouseup');
                            decoder.emit('keypress', '#');
                        }
                    }
                    else
                    {
                        $('#button-' + realCharCode).trigger('mouseup');
                    }
                }

            });
            $(document).keydown(function(event) {
                var shiftKey = event.shiftKey;
                var charCode = (typeof event.which == "number") ? event.which : event.keyCode;
                var realCharCode = String.fromCharCode(charCode);
//F1-F4
                if( charCode == 112 )
                {
                    $('#button-F1').trigger('mousedown');
                    
                    $.confirm({
                        text: "Are you sure?",
                        title: "Call the Fire Department",
                        confirm: function(button) {
                            add_flash_message("Fire Department notified.", "error");
                            decoder.emit('keypress', 1);
                        },
                        cancel: function(button) {
                        },
                        confirmButton: "Yes I am",
                        cancelButton: "No",
                        post: false,
                    });
                }
                if( charCode == 113 )
                {
                    $('#button-F2').trigger('mousedown');
                    $.confirm({
                        text: "Are you sure?",
                        title: "Call the Police Department",
                        confirm: function(button) {
                            add_flash_message("Police Department notified.", "error");
                            decoder.emit('keypress', 2);
                        },
                        cancel: function(button) {
                        },
                        confirmButton: "Yes I am",
                        cancelButton: "No",
                        post: false,
                    });
                }
                if( charCode == 114 )
                {
                    $('#button-F3').trigger('mousedown');
                    $.confirm({
                        text: "Are you sure?",
                        title: "Call the Medics",
                        confirm: function(button) {
                            add_flash_message("Medical Help notified.", "error");
                            decoder.emit('keypress', 3);
                        },
                        cancel: function(button) {
                        },
                        confirmButton: "Yes I am",
                        cancelButton: "No",
                        post: false,
                    });
                }
                if( charCode == 115 )
                {
                    $('#button-F4').trigger('mousedown');
                    $.confirm({
                        text: "Are you sure?",
                        title: "Confirmation required",
                        confirm: function(button) {
                            add_flash_message("Notification sent.", "error");
                            decoder.emit('keypress', 4);
                        },
                        cancel: function(button) {
                        },
                        confirmButton: "Yes I am",
                        cancelButton: "No",
                        post: false,
                    });
                }

//the rest
                if( charCode == 8 || charCode == 9 || charCode == 46 || charCode == 37 || charCode == 39 || (charCode >= 48 && charCode <= 57) || (charCode >= 96 && charCode <= 105 ))
                {
                    if( shiftKey )
                    {
                        if(charCode == 56)
                        {
                            $('#button-star').trigger('mousedown');
                            decoder.emit('keypress', '*');
                        }
                        if(charCode == 51)
                        {
                            $('#button-pound').trigger('mousedown');
                            decoder.emit('keypress', '#');
                        }
                    }
                    else
                    {
                        $('#button-' + realCharCode).trigger('mousedown');
                        decoder.emit('keypress', realCharCode);
                    }
                }
            });
            $('#button-1').on('click', function() {
                decoder.emit('keypress', '1');
            });
            $('#button-1').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/1-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/1-large-on.png) no-repeat');
                }
	        });
	        $('#button-1').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/1-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/1-large.png) no-repeat');
                }
            });
            $('#button-2').on('click', function() {
                decoder.emit('keypress', '2');
            });
            $('#button-2').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/2-small-on.png) no-repeat');
                }
                else
                {
    		        $(this).css('background', 'url(../static/img/2-large-on.png) no-repeat');
                }
            });
            $('#button-2').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/2-small.png) no-repeat');
                }
                else
                {
    		        $(this).css('background', 'url(../static/img/2-large.png) no-repeat');
                }
            });
            $('#button-3').on('click', function() {
                decoder.emit('keypress', '3');
            });
            $('#button-3').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/3-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/3-large-on.png) no-repeat');
                }
            });
            $('#button-3').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/3-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/3-large.png) no-repeat');
                }
            });

            $('#button-4').on('click', function() {
                decoder.emit('keypress', '4');
            });
            $('#button-4').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/4-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/4-large-on.png) no-repeat');
                }
            });
            $('#button-4').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/4-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/4-large.png) no-repeat');
                }
            });

            $('#button-5').on('click', function() {
                decoder.emit('keypress', '5');
            });
            $('#button-5').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/5-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/5-large-on.png) no-repeat');
                }
            });
            $('#button-5').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/5-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/5-large.png) no-repeat');
                }
            });

            $('#button-6').on('click', function() {
                decoder.emit('keypress', '6');
            });
            $('#button-6').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/6-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/6-large-on.png) no-repeat');
                }
            });
            $('#button-6').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/6-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/6-large.png) no-repeat');
                }
            });

            $('#button-7').on('click', function() {
                decoder.emit('keypress', '7');
            });
            $('#button-7').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/7-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/7-large-on.png) no-repeat');
                }
            });
            $('#button-7').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/7-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/7-large.png) no-repeat');
                }
            });

            $('#button-8').on('click', function() {
                decoder.emit('keypress', '8');
            });
            $('#button-8').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/8-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/8-large-on.png) no-repeat');
                }
            });
            $('#button-8').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/8-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/8-large.png) no-repeat');
                }
            });

            $('#button-9').on('click', function() {
                decoder.emit('keypress', '9');
            });
            $('#button-9').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/9-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/9-large-on.png) no-repeat');
                }
            });
            $('#button-9').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/9-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/9-large.png) no-repeat');
                }
            });

            $('#button-0').on('click', function() {
                decoder.emit('keypress', '0');
            });
            $('#button-0').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/0-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/0-large-on.png) no-repeat');
                }
            });
            $('#button-0').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/0-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/0-large.png) no-repeat');
                }
            });

            $('#button-star').on('click', function() {
                decoder.emit('keypress', '*');
            });
            $('#button-star').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/star-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/star-large-on.png) no-repeat');
                }
            });
            $('#button-star').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/star-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/star-large.png) no-repeat');
                }
            });

            $('#button-pound').on('click', function() {
                decoder.emit('keypress', '#');
            });
            $('#button-pound').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/pound-small-on.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/pound-large-on.png) no-repeat');
                }
            });
            $('#button-pound').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/pound-small.png) no-repeat');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/pound-large.png) no-repeat');
                }
            });

            $("#button-F1").confirm({
                text: "Are you sure?",
                title: "Call the Fire Department",
                confirm: function(button) {
                    add_flash_message("Fire Department notified.", "error");
                    decoder.emit('keypress', 1);
                },
                cancel: function(button) {
                },
                confirmButton: "Yes I am",
                cancelButton: "No",
                post: false,
            });

            $("#button-F2").confirm({
                text: "Are you sure?",
                title: "Call the Police Department",
                confirm: function(button) {
                    add_flash_message("Police Department notified.", "error");
                    decoder.emit('keypress', 2);
                },
                cancel: function(button) {
                },
                confirmButton: "Yes I am",
                cancelButton: "No",
                post: false,
            });

            $("#button-F3").confirm({
                text: "Are you sure?",
                title: "Call the Medics",
                confirm: function(button) {
                    add_flash_message("Medical Help notified.", "error");
                    decoder.emit('keypress', 3);
                },
                cancel: function(button) {
                },
                confirmButton: "Yes I am",
                cancelButton: "No",
                post: false,
            });

            $("#button-F4").confirm({
                text: "Are you sure?",
                title: "Confirmation required",
                confirm: function(button) {
                    add_flash_message("Notification sent.", "error");
                    decoder.emit('keypress', 4);
                },
                cancel: function(button) {
                },
                confirmButton: "Yes I am",
                cancelButton: "No",
                post: false,
            });

	        $('#button-F1').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/f1-fire-small-on.png) no-repeat 65% center');
                }
                else
                {
            		$(this).css('background', 'url(../static/img/f1-fire-on.png) no-repeat 65% center');
                }
    	    });
            $('#button-F1').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/f1-fire-small.png) no-repeat 65% center');
                }
                else
                {
    	        	$(this).css('background', 'url(../static/img/f1-fire.png) no-repeat 65% center');
                }
            });
            $('#button-F2').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/f2-police-small-on.png) no-repeat 65% center');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/f2-police-on.png) no-repeat 65% center');
                }
            });
            $('#button-F2').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/f2-police-small.png) no-repeat 65% center');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/f2-police.png) no-repeat 65% center');
                }
            });
            $('#button-F3').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/f3-medical-small-on.png) no-repeat 65% center');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/f3-medical-on.png) no-repeat 65% center');
                }
            });
            $('#button-F3').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/f3-medical-small.png) no-repeat 65% center');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/f3-medical.png) no-repeat 65% center');
                }
            });
            $('#button-F4').on('mousedown', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/f4-led-text-small-on.png) no-repeat 65% center');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/f4-led-text-on.png) no-repeat 65% center');
                }
            });
            $('#button-F4').on('mouseup', function() {
                if( mobile )
                {
                    $(this).css('background', 'url(../static/img/f4-led-text-small.png) no-repeat 65% center');
                }
                else
                {
                    $(this).css('background', 'url(../static/img/f4-led-text.png) no-repeat 65% center');
                }
            });
            $('#check-mute').on("click", function() {
                if( $(this).is(':checked') )
                    mute = 1;
                else
                    mute = 0;

                if( storageSupported() )
                    localStorage.setItem("mute", mute);
            });

        })
    </script>
{% endblock %}

{% block body %}
<div>
    <div id="keypad-line1">Please Wait</div>
    <div id="keypad-line2">Loading...</div>
    <hr>
    <div id="status-indicator">Armed: <img id="status-image1" src="../static/img/led-off.png"> Ready: <img id="status-image2" src="../static/img/led-off.png"></div>
    <div id="keypad-buttons">
        <div id="keypad-button-row">
            <input id="button-F1" class="keypad-button" type="button" value="" class="confirmF1"></input>
            <input id="button-1" class="keypad-button" type="button" value=""></input>
            <input id="button-2" class="keypad-button" type="button" value=""></input>
            <input id="button-3" class="keypad-button" type="button" value=""></input>
        </div>
        <div id="keypad-button-row">
            <input id="button-F2" class="keypad-button" type="button" value="" class="confirmF2"></input>
            <input id="button-4" class="keypad-button" type="button" value=""></input>
            <input id="button-5" class="keypad-button" type="button" value=""></input>
            <input id="button-6" class="keypad-button" type="button" value=""></input>
        </div>
        <div id="keypad-button-row">
            <input id="button-F3" class="keypad-button" type="button" value="" class="confirmF3"></input>
            <input id="button-7" class="keypad-button" type="button" value=""></input>
            <input id="button-8" class="keypad-button" type="button" value=""></input>
            <input id="button-9" class="keypad-button" type="button" value=""></input>
        </div>
        <div id="keypad-button-row">
            <input id="button-F4" class="keypad-button" type="button" value="" class="confirmF4"></input>
            <input id="button-star" class="keypad-button" type="button" value=""></input>
            <input id="button-0" class="keypad-button" type="button" value=""></input>
            <input id="button-pound" class="keypad-button" type="button" value=""></input>
        </div>
        <div id="mute-row">
            <input type="checkbox" id="check-mute" name="check-mute"/><label for="check-mute" id="check-mute-label">Mute Sounds</label>
        </div>
    </div>
</div>
{% endblock %}
