{% from "macros/_form.html" import render_form %}


{% extends 'layouts/base.html' %}

{% set page_title = 'AlarmDecoder Updater' %}

{% block css %}
{% endblock %}

{% block pagejs %}
{% include 'js/updater/index.js' %}
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <h3>Update</h3>
    {% if updates|length == 0 %}
        <p>No updates available!</p>
    {% else %}
        <div style="float: left;">
            <span id="app_running"><span style="color:green">&#10004;</span> Application is running.</span>
        </div>
        <div style="float: right;">
            <a class="btn btn-default" href="{{ url_for('update.check_for_updates') }}">Check for updates</a>
        </div>

        <div style="padding-top: 30px; clear: both;">
            <table style="text-align: left; width: 80%; margin: 0 auto;" class="table-bordered table-striped">
                <tr><th>Component</th><th>Branch</th><th>Changes</th><th>Status</th><th></th></tr>
                {% for component, (needs_update, branch, revision, new_revision, status, project_url) in updates.iteritems() %}
                <tr>
                    <td>{{ component }}</td>
                    <td><a href="{{ project_url|escape }}/tree/{{ branch|urlencode }}">{{ branch }}</a></td>
                    <td>{% if needs_update %}<a href="{{ project_url|escape }}/compare/{{ revision|truncate(7, True, '') }}...{{ new_revision|truncate(7, True, '') }}">{{ revision|truncate(7, True, '') }}...{{ new_revision|truncate(7, True, '') }}{% endif %}</a></td>
                    <td>{{ status }}</td>
                    <td>
                        <span id="{{ component }}-status"></span>
                        <input class="btn btn-sm" name="{{ component }}-update-submit" id="{{ component }}-update-submit" value="Update" style="display:none;">
                        <input class="btn btn-sm" name="{{ component }}-restart-submit" id="{{ component }}-restart-submit" value="Restart" style="display:none;">
                        <img id="{{ component }}-update-anim" src="{{ url_for('static', filename='img/spinner.gif') }}" style="display: none;">
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
