{% from "macros/_form.html" import render_form %}


{% extends 'layouts/base.html' %}

{% set page_title = 'AlarmDecoder Updater' %}

{% block css %}
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    var timeoutVar;

    function poll_app_restarted()
    {
        $.ajax({
            url: "{{ url_for('update.checkavailable') }}",
            type: "GET",
            timeout: 3000,
            statusCode: {
                502: function() {
                    $('#app_running').html('<img src="{{ url_for("static", filename="img/spinner.gif") }}"> Application is restarting...');
                    timeoutVar = setTimeout(function() { poll_app_restarted(); }, 5000);
                }
            },
            success: function(data) {
                var jsondata = JSON.parse(data);

                if( jsondata['status'] )
                {
                    if( jsondata['status'] == 'PASS' )
                    {
                        clearTimeout(timeoutVar);
                        window.location.reload();
                    }
                }
            },
            complete: function(xhr, status) {
                if (status === 'timeout')
                {
                    console.log('timed out.. requesting again..');
                    timeoutVar = setTimeout(function() { poll_app_restarted(); }, 1000);
                }
            },
        });
    }

    function build_update_button(component, enabled) {
        if (enabled === true) {
            $('#' + component + '-update-submit').show();
        }

        $('#' + component + '-update-submit').click(function() {
            $('#' + component + '-status').html('');
            $('#' + component + '-update-submit').hide();
            $('#' + component + '-update-anim').show();

            $.ajax({
                url: "{{ url_for('update.update') }}",
                type: 'POST',
                data: JSON.stringify({ 'component': component }),
                contentType: 'application/json;charset=UTF-8',
                success: function(data, status, xhr) {
                    var jsondata = JSON.parse(data);

                    if (jsondata[component]['status'] == 'PASS')
                    {
                        $('#' + component + '-status').html('<span style="color:green">&#10004;</span>');

                        if (jsondata[component]['restart_required'] === true)
                        {
                            $('#' + component + '-restart-submit').show();
                        }
                    }
                    else
                    {
                        $('#' + component + '-status').html('<span style="color:red">&#10008;</span>');
                        $('#' + component + '-update-submit').show();
                    }
                },
                complete: function() {
                    $('#' + component + '-update-anim').hide();
                }
            });

            return false;
        });

        $('#' + component + '-restart-submit').click(function() {
            $('#' + component + '-status').html('');
            $('#' + component + '-restart-submit').hide();
            $('#' + component + '-update-anim').show();

            $.ajax({
                url: "{{ url_for('update.restart') }}",
                type: 'POST',
                data: JSON.stringify({ 'component': component }),
                contentType: 'application/json;charset=UTF-8',
                complete: function() {
                    decoder.disconnect();
                    $('#app_running').html('<img src="{{ url_for("static", filename="img/spinner.gif") }}"> Application is restarting...');
                    timeoutVar = setTimeout(function() { poll_app_restarted(); }, 5000);
                }
            });

            return false;
        });
    }

    $('body').ready(function() {
    {% for component, (needs_update, branch, revision, new_revision, status) in updates.iteritems() %}
        build_update_button('{{ component }}', '{{ needs_update }}' === 'True');
    {% endfor %}
    });
</script>
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <h3>Update</h3>
    {% if updates|length == 0 %}
        <p>No updates available!</p>
    {% else %}
        <div style="float: left;">
            <span id="app_running"><span style="color:green">&#10004;</span> Application is running.</span>
        </div>
        <div style="float: right;">
            <a class="btn" href="{{ url_for('update.check_for_updates') }}">Check for updates</a>
        </div>

        <div style="padding-top: 20px; clear: both;">
            <table style="text-align: left">
                <tr><th>Component</th><th>Branch</th><th>Status</th><th></th></tr>
                {% for component, (needs_update, branch, revision, new_revision, status) in updates.iteritems() %}
                <tr>
                    <td>{{ component }}</td>
                    <td><a href="https://github.com/nutechsoftware/alarmdecoder-webapp/tree/{{ branch|urlencode }}">{{ branch }}</a></td>
                    <td>{{ status }}</td>
                    <td>
                        <span id="{{ component }}-status"></span>
                        <input class="btn" name="{{ component }}-update-submit" id="{{ component }}-update-submit" value="Update" style=" width: 4em; display:none;">
                        <input class="btn" name="{{ component }}-restart-submit" id="{{ component }}-restart-submit" value="Restart" style="display:none; width: 4em;">
                        <img id="{{ component }}-update-anim" src="{{ url_for('static', filename='img/spinner.gif') }}" style="display: none;">
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
