<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %}</title>
    <meta name="description" content="The AlarmDecoder Webapp provides a standard interface across all of your devices for your alarm panel.">
    <meta name="author" content="Nu Tech Software Solutions, Inc.">
    <meta name="viewport" content="width=extend-to-zoom, initial-scale=0.5, target-densitydpi=device-dpi, user-scalable=no, maximum-scale=0.5">
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    {% block permanent_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_custom.css') }}">
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.4.custom.css') }}">
    {% endblock %}

    {% block css_style %}
    {% endblock %}

    {% block js_top %}
    <script src="{{ url_for('static', filename='js/vendor/modernizr-latest.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fastclick.js') }}"></script>
    <script type="text/javascript">
        var isiPad = navigator.userAgent.match(/iPad/i) != null;
        var isiPhone = navigator.userAgent.match(/iPhone/i) != null;

        if( isiPad )
        {
            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=device-width, initial-scale=1.0, target-densitydpi=device-dpi, user-scalable=no, maximum-scale=1.0');
        }
        function createFormTooltip(element, text)
        {
            $(element).prop('title', text );
        }
    </script>
    {% endblock %}
</head>
<body>
    {% include "macros/_ask_user_to_update_ie.html" %}

    <div id='wrap'>
        {% block topbar %}
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class='brand' href='{{ url_for('frontend.index') }}'><img src="{{ url_for('static', filename='img/logo.png') }}" /></a>

                    {% if current_user.is_authenticated() %}
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav">
                            {% if update_available and current_user.is_admin() %}
                            <li><a href="{{ url_for('update.index') }}" style="color: #86D47F;">Update available!</a></li>
                            {% endif %}
                            <li><a href="{{ url_for('keypad.index') }}">Keypad</a></li>
                            {% if cameras is defined and cameras != 0 %}
                            <li><a href="{{ url_for('cameras.index') }}">Cameras</a></li>
                            {% endif %}
                            <li><a href="{{ url_for('log.events') }}">Log</a></li>
                            <li><a href="{{ url_for('settings.index') }}">Settings</a></li>
                            <li><a href="{{ url_for('frontend.logout') }}">Log out</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav">
                            <li><a href="{{ url_for('frontend.login') }}">Sign in</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}

        {% block flash_message %}
                <div class="container">
                    <div id='flash_message_container'>
                        {% with messages = get_flashed_messages(with_categories=True) %}
                            {% if messages %}
                                {% for category, msg in messages %}
                                    <div class="alert alert-{{ category }}">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        {{ msg }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
        {% endblock %}

        {% block container %}
        <div class="container">

            <noscript><div id="nojs"><p>This application makes heavy use of Javascript and the majority of it will not function without it.  Please enable Javascript in your browser.</p></div></noscript>

            {% block top %}
                {% if tabs %}
                <div>
                    <ul class="nav nav-tabs">
                        {% for tab, link, admin_required in tabs %}
                        {% if not admin_required or current_user.is_admin() %}
                        <li class="{% if active == tab %}active{% endif %}">
                            <a href="{{ link }}">{{ tab|capitalize }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endblock %}

            {% block body %}
            {% endblock %}

        </div>
        {% endblock %}
        <div id="push"></div>
    </div>

    <footer id="footer">
        <ul class="footer-links">
            <li>© 2014</li>
            <li class="muted">&middot;</li>
            <li><a href='http://www.alarmdecoder.com/'>AlarmDecoder</a></li>
            <li class="muted">&middot;</li>
            <li><a href='{{ url_for('frontend.help') }}'>Help</a></li>
            <li class="muted">&middot;</li>
            <li><a href='{{ url_for('frontend.license') }}'>Terms</a></li>
            <li class="muted">&middot;</li>
            <li class="muted">v{{ version }}</li>
        </ul>
    </footer>

    {% block perm_js %}
    <script src="{{ url_for('static', filename='js/vendor/jquery-2.0.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/pubsub.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alarmdecoder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/mobile-detect.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/mobile-detect-modernizr.js') }}"></script>
    {% endblock %}
    {% block js_btm %}
    <script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.4.custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/spin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.spin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.confirm.min.js') }}"></script>
    {% endblock %}

    {% block pagejs %}
    {% endblock %}

    {% block ga %}
    {% include "macros/_google_analytics.html" %}
    {% endblock %}
</body>
</html>
