{% from "macros/_form.html" import render_form %}

{% set page_title = 'Certificates' %}

{% extends 'settings/layout.html' %}
{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function(){
        $.fn.spin.presets.flower = {
            lines: 13,
            length: 30,
            width: 10,
            radius: 30,
            className: 'spinner',
        }
        $('#loading').spin('flower');
        $('#certificate-table').dataTable({
            "bJQueryUI" : true,
            "sPaginationType" : "full_numbers",
            "sDom" : '<"H"lr>t<"F"fip>',
            "oLanguage": {
                "sInfoFiltered": "",
                "sInfo": "_START_ to _END_ of _TOTAL_",
                "sInfoEmpty": "No Results",
            },
            "fnInitComplete": function() {
                $('#loading').stop();
                $('#loading').hide();
                $('#datatable').show();
                this.fnAdjustColumnSizing();
            },
        });
    });
</script>
{% endblock %}
{% block body %}
<div>
    <h2>Certificates</h2>
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table class="display table-hover" cellpadding="3" bordercolor="EEEEEE" border="1" id="certificate-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Description</th>
                </tr>
            </thead>

            {% for cert in certificates %}
                {% if cert.user == current_user or current_user.is_admin() %}
                <tr>
                    <td><a href="{{ url_for('certificate.view', certificate_id=cert.id) }}">{{ cert.name }}</a></td>
                    <td>{{ TYPES[cert.type] }}</td>
                    <td>{{ STATUS[cert.status] }}</td>
                    <td>{% if cert.user %}{{ cert.user.name}}{% endif %}</td>
                    <td>{{ cert.description }}</td>
                </tr>
                {% endif %}
            {% endfor %}

        </table>
    </div>
    <br>
    <a class="btn btn-primary" href="{{ url_for('certificate.generate') }}">New Certificate</a>
</div>
{% endblock %}
