{% from "macros/_form.html" import render_form %}

{% set page_title = 'Certificates' %}

{% extends 'settings/layout.html' %}

{% block body %}
<div>
    <h2>Certificates</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Description</th>
            </tr>
        </thead>

        {% for cert in certificates %}
            {% if cert.user == current_user or current_user.is_admin() %}
            <tr>
                <td><a href="{{ url_for('certificate.view', certificate_id=cert.id) }}">{{ cert.name }}</a></td>
                <td>{{ TYPES[cert.type] }}</td>
                <td>{{ STATUS[cert.status] }}</td>
                <td>{% if cert.user %}{{ cert.user.name}}{% endif %}</td>
                <td>{{ cert.description }}</td>
            </tr>
            {% endif %}
        {% endfor %}

    </table>

    Generate a new certificate:
    {{ render_form(url_for('certificate.index'), form) }}
</div>
{% endblock %}
