{% from "macros/_form.html" import render_form %}

{% extends 'settings/layout.html' %}

{% block css %}
{% endblock %}

{% block pagejs %}
{% endblock %}

{% block body %}
<div id="data">
    This section contains advanced settings that shouldn't be changed unless you know what you're doing.
    <p>
    <h3>Advanced Settings</h3>
    <ul>
        <li><a href="{{ url_for('settings.host') }}">Host</a>: Configure host settings.</li>
        <li><a href="{{ url_for('settings.switch_branch') }}">Branch</a>: Use to switch your between stable and development branches.</li>
        <li><a href="{{ url_for('update.firmware') }}">Firmware Update</a>: Update the firmware on your AlarmDecoder.</li>
        <li><a href="{{ url_for('settings.system_diagnostics') }}">Diagnostics</a>: Perform tests on your device and see missing modules.</li>
        <li><a href="{{ url_for('setup.index') }}">Setup</a>: Go through the process of setting up your AlarmDecoder.
        <li><a href="{{ url_for('settings.import') }}">Import</a> / <a href="{{ url_for('settings.export') }}">Export</a> settings.</li>
    </ul>
    </p>
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
