{% from "macros/_form.html" import render_form %}
<title>Diagnostics</title>
{% extends 'settings/layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.4.custom.css') }}">
{% endblock %}

{% block pagejs %}
{% include 'js/settings/diagnostics.js' %}
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <div id="import_list">
        <strong>Modules</strong>&nbsp;Here is a list of system used Python Modules.  If a module appears <font color="green">green</font> it is present.  If it appears <font color="red">red</font> then it is missing.  Missing modules might cause certain features to be unavailable.  We suggest installing all modules listed in the project requirements.txt.  Some modules such as <b>OpenCV</b> require more steps to install.<br/>
        <button id="test_modules" class="btn btn-primary">Test Modules</button>&nbsp;&nbsp;&nbsp;<span style="display: inline-block;"><input type="checkbox" id="chk_showall" name="chk_showall"/><span style="margin-left: 5px !important; top: -15px !important;"><b>Show All</b></span></span><br/>
        <div id="loading"></div>
        <div id="import_list_detail" style="overflow-x: hidden; height: 270px !important;">
        </div>
    </div>
    <br/>
    {% if settings['mode'] == 'ADEMCO' %}
    <div id="queryEventLog">
        <button type="button" class="btn btn-primary" id="startEventQuery">Panel Event Log</button>
    </div>
    {% endif %}
    <div id="device_settings">
        <h3>AlarmDecoder device settings:</h3>
        <table id="decoder_settings" class="table table-striped table-bordered table-condensed table-responsive" cellspacing="0">
            <tbody>
                <tr>
                    <td width="20%">Address</td><td>{{settings['address']}}</td>
                </tr>
                <tr>
                    <td>Configbits</td><td>{{settings['configbits']}}</td>
                </tr>
                <tr>
                    <td>Address Mask</td><td>{{settings['address_mask']}}</td>
                </tr>
                <tr>
                    <td>Zone Exander Emulation</td><td>{% for zexp in settings['emulate_zone'] %} {{zexp}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Relay Emulation</td><td>{% for relay in settings['emulate_relay'] %} {{relay}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>LRR Emulation</td><td>{{settings['emulate_lrr']}}</td>
                </tr>
                <tr>
                    <td>Deduplicate</td><td>{{settings['deduplicate']}}</td>
                </tr>
                <tr>
                    <td>Panel Type</td><td>{{settings['mode']}}</td>
                </tr>
                <tr>
                    <td>Firmware version</td><td>{{settings['firmware']}}</td>
                </tr>
                <tr>
                    <td>Serial Number</td><td>{{settings['serial']}}</td>
                </tr>
                <tr>
                    <td>Device Flags</td><td>{{settings['flags']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="decoder">
        <strong><button id="test_decoder" class="btn btn-primary">Test Device</button></strong>
        <div id="decoder_detail" style="display:none;">
            <table id="test_results">
                <tr id='test-open'>
                    <td class='test-description'>Opening device</td>
                    <td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
                    <td class='details'></td>
                </tr>
                <tr id='test-config'>
                    <td class='test-description'>Saving device configuration</td>
                    <td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
                    <td class='details'></td>
                </tr>
                <tr id='test-send'>
                    <td class='test-description'>Keypad communication (Send)</td>
                    <td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
                    <td class='details'></td>
                </tr>
                <tr id='test-recv'>
                    <td class='test-description'>Keypad communication (Receive)</td>
                    <td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
                    <td class='details'></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="dialog" style="Display: none;" title="Panel Event Log">
    <div id="numDevices" style="font-weight: Bold;"></div>
    <div id="logEntries">
        <textarea id="textLogEntries" style="width: 450; height: 350;"></textarea><br/><button name="btnCopy" id="btnCopy" class="btn btn-primary">Copy to Clipboard</button>
    </div>
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.4.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/spin.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.spin.js') }}"></script>
{% endblock %}
