{% from "macros/_form.html" import render_form %}
<title>Settings</title>
{% extends 'settings/layout.html' %}

{% block pagejs %}
<script type="text/javascript">
</script>
{% endblock %}

{% block body %}
<div id="data">
    In this area you can setup your device, configure zones or notifications, install certificates, manage users, or change your password.
    <p>
        <ul>
            <li><a href="{{ url_for('setup.index') }}">Device</a>: Use to configure your AlarmDecoder device.</li>
            <li><a href="{{ url_for('notifications.index') }}">Notifications</a>: Use to configure notifications from panel events.</li>
            <li><a href="{{ url_for('zones.index') }}">Zones</a>: Use to configure your zones by name.</li>
            {% if ssl == True %}
                <li><a href="{{ url_for('certificate.index') }}">Certificates</a>: Use to configure SSL Certificates.</li>
            {% endif %}
            <li><a href="{{ url_for('admin.users') }}">Users</a>: Use to configure users on the system.</li>
            <li><a href="{{ url_for('settings.password') }}">Password</a>: Use to change your user password.</li>
            <li><a href="{{ url_for('settings.export') }}">Export</a>: Export your settings for backup purposes.</li>
        <ul>
    </p>
</div>
{% endblock %}
