{% from "macros/_form.html" import render_form %}
{% extends 'settings/layout.html' %}

{% block title %}Settings{% endblock %}
{% block css %}
<style type="text/css">
#data li {
    margin: 10px 0;
}
</style>
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
</script>
{% endblock %}

{% block body %}
<div id="data">
    In this area you can setup your device, configure zones or notifications, install certificates, manage users, change code branches, or change your password.
    <p>
        <ul>
            <li><a href="{{ url_for('notifications.index') }}">Notifications</a>: Configure notifications from panel events.</li>
            <li><a href="{{ url_for('zones.index') }}">Zones</a>: Add names to zones to notifications.</li>
            {% if ssl == True %}
                <li><a href="{{ url_for('certificate.index') }}">Certificates</a>: Configure SSL Certificates.</li>
            {% endif %}
            <li><a href="{{ url_for('keypad.custom_index') }}">Keypad Settings</a>: Custom keypad buttons.</li>
            <li><a href="{{ url_for('cameras.cam_list') }}">Cameras</a>: Administer camera settings. (mjpeg only)</li>
            <li><a href="{{ url_for('admin.users') }}">Users</a>: Configure users for the system.</li>
            <li><a href="{{ url_for('settings.password') }}">Password</a>: Change your user password.</li>
            <li><a href="{{ url_for('settings.advanced') }}">Advanced</a>: Advanced settings and diagnostics.</li>
        <ul>
    </p>
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
