{% from "macros/_form.html" import render_form %}
<title>Settings</title>
{% extends 'settings/layout.html' %}

{% block css %}
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
</script>
{% endblock %}

{% block body %}
<div id="data">
    In this area you can setup your device, configure zones or notifications, install certificates, manage users, change code branches, or change your password.
    <p>
        <ul>
            <li><a href="{{ url_for('setup.index') }}">Setup</a>: Use to configure your AlarmDecoder device.</li>
            <li><a href="{{ url_for('notifications.index') }}">Notifications</a>: Use to configure notifications from panel events.</li>
            <li><a href="{{ url_for('zones.index') }}">Zones</a>: Use to configure your zones by name.</li>
            {% if ssl == True %}
                <li><a href="{{ url_for('certificate.index') }}">Certificates</a>: Use to configure SSL Certificates.</li>
            {% endif %}
            <li><a href="{{ url_for('admin.users') }}">Users</a>: Use to configure users on the system.</li>
            <li><a href="{{ url_for('settings.host') }}">Host</a>: Use to configure host settings.</li>
            <li><a href="{{ url_for('keypad.custom_index') }}">Keypad</a>: Use to create custom buttons.</li>
            <li><a href="{{ url_for('cameras.cam_list') }}">Cameras</a>: Use to administer camera settings. (mjpeg only)</li>
            <li><a href="{{ url_for('settings.system_diagnostics') }}">Diagnostics</a>: Use to test your device and see missing modules.</li>
            <li><a href="{{ url_for('settings.password') }}">Password</a>: Use to change your user password.</li>
            <li><a href="{{ url_for('settings.import') }}">Import</a> and <a href="{{ url_for('settings.export') }}">Export</a> your settings.</li>
            <li><a href="{{ url_for('settings.switch_branch') }}">Git Branch</a>: Use to switch your git branch.</li>
        <ul>
    </p>
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
