{% from "macros/_form.html" import render_form %}

{% extends 'setup/layout.html' %}

{% block css %}
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
</script>
{% endblock %}

{% block body %}
<div id="setup">
	<h3>Create Account</h3>
	<div>
		<p>
            Please take the time to create your administrator account for use in the AlarmDecoder web application.
		</p>
	</div>
	<br>
    {{ render_form(url_for('setup.account'), form) }}
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
