{% from "macros/_form.html" import render_form %}

{% extends 'setup/layout.html' %}

{% block pagejs %}
<script type="text/javascript">
</script>
{% endblock %}

{% block body %}
<div id="setup">
	<h3>AlarmDecoder Settings</h3>
	<div>
		<p>
			Finally, we need to configure the AlarmDecoder itself.  Most of these settings are fine when set to the default, but the Keypad Address needs to be configured specific to your panel.
		</p>
		<p>
			  "SE" panels need to be set to address 31 but on other panels you are welcome to use any free keypad address you have after it has been enabled on your panel.  Check your panel documentation, or call your alarm system provider, to add one for the AlarmDecoder to use.
		</p>
	</div>
	<br>
    {{ render_form(url_for('setup.device'), form) }}
</div>
{% endblock %}
