{% from "macros/_form.html" import render_form %}

{% extends 'setup/layout.html' %}

{% block css %}
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function() {
        createFormTooltip('#device_address', 'The Name or IP Address of the machine serving your AlarmDecoder product via ser2sock.');
        createFormTooltip('#device_port', 'The port number of the ser2sock instance.');
        createFormTooltip('#ssl', 'Enable ssl support for network communications.');
    });
</script>
{% endblock %}

{% block body %}
<div id="setup" class="container">
	<h3>Network Device Settings</h3>
	<div>
		<p>
            In this section, please provide the address of the computer which is connected to the AlarmDecoder device as well as the port that is opened by ser2sock or your IP-to-serial gateway device.  Optionally, you can use SSL.
		</p>
	</div>
	<br>
    {{ render_form(url_for('setup.network'), form) }}
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
