{% from "macros/_form.html" import render_form %}

{% extends 'setup/layout.html' %}

{% block pagejs %}
<script type="text/javascript">
	$(document).ready(function() {
		PubSub.subscribe('test', function(type, msg) {
			result_text = { 
				'PASS': '<span style="color:green">&#10004;</span>', 
				'FAIL': '<span style="color:red">&#10008;</span>',
				'TIMEOUT': '<span style="color:orange">&#9888;</span>'
			};

			test_results = $('table#test_results tr#test-' + msg.test);

			$(test_results).children('td:eq(1)').html(result_text[msg.results]);
			$(test_results).children('td:eq(2)').html(msg.details);
		});

		decoder.emit('test');
	});
</script>
{% endblock %}

{% block body %}
<div id="setup" class="container">
	<h3>Device Testing</h3>
	
	<div>
		<table id="test_results">
			<tr id='test-open'>
				<td class='test-description'>Opening device</td>
				<td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
				<td class='details'></td>
			</tr>
			<tr id='test-config'>
				<td class='test-description'>Saving device configuration</td>
				<td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
				<td class='details'></td>
			</tr>
			<tr id='test-send'>
				<td class='test-description'>Keypad communication (Send)</td>
				<td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
				<td class='details'></td>
			</tr>
			<tr id='test-recv'>
				<td class='test-description'>Keypad communication (Receive)</td>
				<td class='test-results'><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
				<td class='details'></td>
			</tr>
		</table>
	</div>

	<div>
		<p>

		</p>
	</div>
	<br>
    {{ render_form(url_for('setup.test'), form) }}
</div>
{% endblock %}
