{% from "macros/_form.html" import render_form %}

{% extends 'setup/layout.html' %}

{% block pagejs %}
<script type="text/javascript">
	$(document).ready(function() {
		PubSub.subscribe('test', function(type, msg) {
			$('#test_results').append($('<div></div>').text(msg.test + ' ' + msg.results));
		});
		console.log('starting tests..');
		decoder.emit('test');
	});
</script>
{% endblock %}

{% block body %}
<div>
	<div id="test_results">
	</div>

    {{ render_form(url_for('setup.test'), form) }}
</div>
{% endblock %}
