{% from "macros/_form.html" import render_form %}

{% extends 'setup/layout.html' %}

{% block pagejs %}
<script type="text/javascript">
	$(document).ready(function() {
		PubSub.subscribe('test', function(type, msg) {
			result_text = { 
				'PASS': '<span style="color:green">&#10004;</span>', 
				'FAIL': '<span style="color:red">&#10008;</span>' 
			};

			$('table#test_results tr#test-' + msg.test + ' td:eq(1)').html(result_text[msg.results]);
		});
		console.log('starting tests..');
		decoder.emit('test');
	});
</script>
{% endblock %}

{% block body %}
<div>
	<h3>Device Testing</h3>
	
	<div>
		<table id="test_results">
			<tr id='test-open'><td>Opening device</td><td><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td></tr>
			<tr id='test-config'><td>Retrieving device configuration</td><td><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td></tr>
			<tr id='test-send'><td>Keypad communication (Send)</td><td><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
			<tr id='test-recv'><td>Keypad communication (Receive)</td><td><img src="{{ url_for('static', filename='img/spinner.gif') }}"></td>
		</table>
	</div>

	<div>
		<p>

		</p>
	</div>
	<br>
    {{ render_form(url_for('setup.test'), form) }}
</div>
{% endblock %}
