{% from "macros/_form.html" import render_form %}

{% extends 'setup/layout.html' %}

{% block css %}
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function() {
        createFormTooltip('#device_type', 'The physical AlarmDecoder device.');
        createFormTooltip('#device_location', 'Network for connecting to a remote device.\n\nLocal for connecting to a device connected to this machine.');
    });
</script>
{% endblock %}

{% block body %}
<div id="setup" class="container">
	<h3>Device Type Settings</h3>
	<div>
		<p>
		Please select which type of device you have as well as its current location in relation to the machine that this webapp is running on.

		<ul>
			<li>Local Device: the device is directly connected to this computer.</li>
			<li>Network: the device is already exposed on your network with ser2sock or another IP-to-Serial interface.</li>
		</ul>
		</p>
	</div>
	<br>
    {{ render_form(url_for('setup.type'), form) }}
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
