# AlarmDecocer WEB App customization
#PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL build-essential autoconf automake cmake haveged python git gunicorn"
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL avahi-daemon python python-wheel python-socketio python-openssl haveged build-essential autoconf automake cmake cmake-data libffi-dev libssl-dev libpcre3-dev libssl-dev libpcre++-dev zlib1g-dev libcurl4-openssl-dev python2.7-dev python-dev sqlite3 screen sendmail minicom telnet vim nginx gunicorn git miniupnpc python-pip python-virtualenv python-opencv python-httplib2 python-concurrent.futures python-sphinx python-flask-babel python-flask-openid python-flask-sqlalchemy python-flask-script python-flaskext.wtf python-cffi python-gitdb python-gevent-websocket python-mako python-jwt python-alembic python-funcsigs python-future python-nose python-smmap python-jsonpickle python-mock python-netifaces python-psutil python-pycparser python-serial python-sh python-sleekxmpp python-twilio"
#FIXED_IMAGE_SIZE=
#ROOTFS_TYPE=btrfs
# armbian-firmware cpufrequtils
