{% from "macros/_form.html" import render_form %}

{% extends 'settings/layout.html' %}

{% block css %}
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function() {
        createFormTooltip('#zone_id', 'The numeric zone id passed through the system.');
        createFormTooltip('#name', 'The name to associate with the zone.\n\nEx: Front Door.');
        createFormTooltip('#description', 'The detailed description of a zone.');
    });
</script>
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    {{ render_form(url_for('zones.edit', id=id), form) }}
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
