{% from "macros/_form.html" import render_form %}

{% extends 'settings/layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.10.4.custom.css') }}">
{% endblock %}

{% block pagejs %}
{% include 'js/zones/index.js' %}
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" id="zones-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Zone Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for zone in zones %}
                <tr>
                    <td><a href="{{ url_for('zones.edit', id=zone.zone_id) }}">{{ zone.zone_id }}</a></td>
                    <td>{{ zone.name }}</td>
                    <td>{{ zone.description }}</td>
                    <td><a href="{{ url_for('zones.remove', id=zone.zone_id) }}"><img style="text-align: center; float: right; margin-right: 15px;" src="{{ url_for('static', filename='img/red_x.png') }}"/></a></td>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <a id="clear" class="btn btn-primary" href="{{ url_for('zones.create') }}">New Zone</a>
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.4.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/spin.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.spin.js') }}"></script>
{% endblock %}
