{% from "macros/_form.html" import render_form %}

{% extends 'settings/layout.html' %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function(){
        $.fn.spin.presets.flower = {
            lines: 13,
            length: 30,
            width: 10,
            radius: 30,
            className: 'spinner',
        }
        $('#loading').spin('flower');
        $('#zones-table').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "sDom" : '<"H"lr>t<"F"fip>',
            "oLanguage": {
                "sInfoFiltered": "",
                "sInfo": "_START_ to _END_ of _TOTAL_",
                "sInfoEmpty": "No Results",
            },
            "fnInitComplete": function() {
                $('#loading').stop();
                $('#loading').hide();
                $('#datatable').show();
                this.fnAdjustColumnSizing();
            },
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="settings_wrapper">
    <div id="loading"></div>
    <div id="datatable" style="display: none;">
        <table class="display table-hover" cellpadding="3" bordercolor="EEEEEE" border="1" id="zones-table">
            <thead>
                <tr><th>ID</th><th>Zone Name</th><th>Description</th></tr>
            </thead>
            <tbody>
            {% for zone in zones %}
                <tr>
                    <td>{{ zone.zone_id }}</td>
                    <td><a href="{{ url_for('zones.edit', id=zone.zone_id) }}">{{ zone.name }}</a></td>
                    <td>{{ zone.description }}</td>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <a class="btn btn-primary" href="{{ url_for('zones.create') }}">New Zone</a>
</div>
{% endblock %}
